<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/main/HW2_Phat_Dinh_(DATA_3401)_New.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Part 1: Markdown in Jupyter Notebook**

1. **Bold and Italics**

 Write a sentence where one word is in bold and another is in italics.

 This **class** is *amazing*

2. **Headers**

Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.
# Course: DATA-3401
## Section: 001
### Professor: Masoud Rostami

3. **Lists**

Create a bulleted list of your three favorite fruits
- Mangosteen
- Lychee
- Pinapple

___

# **Part 2: Python Basics**

1. **Variable Assignment**

Assign the number 5 to a variable named a

In [ ]:
a=5

Assign the number 10 to a variable named b.

In [ ]:
b=10

Compute the sum of a and b and assign it to a variable named c. Print out the value of c.

In [ ]:
c=a+b

In [ ]:
print(c)

15

2. **PEMDAS**

Given the equation 6+2*(5-3^2)+4/26+2*(5-32)+4/2

- Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.

In [ ]:
3**2

9

In [ ]:
5-9

-4

In [ ]:
5-32

-27

In [ ]:
2*(-4)

-8

In [ ]:
4/26

0.15384615384615385

In [ ]:
2*(-27)

-54

In [ ]:
4/2

2.0

In [ ]:
6+(-8)+0.15384615384615385+(-54)+2

-53.84615384615385

- Compute the final answer using Python and display the result.

In [ ]:
6+2*(5-3**2)+4/26+2*(5-32)+4/2

-53.84615384615385