### 1.Write a sentence where one word is in bold and another is in italics.

It's *you*, it's **me** - it's us.

### 2.Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.

# Misborn by Brandon Sanderson
## The Well of Acension by Brandon Sanderson
### The Hero of Ages by Brandon Sanderson

### 3. Create a bulleted list of your three favorite fruits

- Strawberry
- Pineapple
- Coconut

---

# Variable Assignment

### Assign the number 5 to a variable named a.

In [5]:
a=5

In [6]:
print(a)

5

### Assign the number 10 to a variable named b.

In [7]:
b=10

In [8]:
print(b)

10

### Compute the sum of "a" and "b" and assign it to a variable named "c". Print out the value of "c"

In [11]:
a+b

15

In [12]:
c=15

In [13]:
print(c)

15

### PEMDAS

#### Given the equation: 6+2*(5-3^2)+4/26+2*(5-32)+4/2

##### Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell

(5-3^2) = -4

- Configure exponent for 3^2 and subtract it FROM 5
- PARENTHESIS first

(5-32) = -27

- 5 minus 7

6+2(5-9)+4/26+2(27)+2
- Calculate and multiply

6+2(-4)+4/26-54+2
- Multiply the remaining numbers, following PEMDAS

6-8+4/26-54+2
- Calculate by adding 8+4/26, add 2, subtract 6 from the remaining result, and then subtract 54

54+4/26
- Calculate by adding by finding common denimnator.

#### Compute the final answer using Python and display the result.

In [21]:
result=6+2*(5-3^2)+4/26+2*(5-32)+4/2

In [19]:
result

-53.84615384615385